<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>QRCode generator</title>
</head>

<body>
    <div id="app">
        <h1>{{ title }}</h1>
        <div>
            <input type="text" size="25px" placeholder="type to generate a QRCode" v-model="text">
        </div>

        <div v-if="text" class="output">
            <img :src="newQrCode">
        </div>
    </div>
    <script>
        
        new Vue({
            el:"#app",
            data: {
                title: "QrCode Generator",
                text: "",
                qrCode: new QRious({ size: 300 })
            },
            computed: {
                newQrCode() {
                    this.qrCode.value = this.text
                    return this.qrCode.toDataURL()
                }
            }
        })
    </script>
</body>

</html>